.game{
    width:600px;
    height:200px;
    border:3px double black;
    margin:auto;
}
#dino{
    width:50px;
    height:50px;
    background-image:url(dino.PNG);
    background-size: 50px;
    position:relative;
    top:150px;
    left:20px;
}
.glide{
    animation:jump 1.5s linear;
}
.jump{
    animation:jump 0.5s linear;
}
@keyframes jump {
    0%{
        top:150px;
    }
    25%{
        top:125px;
    }
    35%{
        top:100px;
    }
    50%{
        top:75px;
    }
    60%{
        top:85px;
    }
    75%{
        top:115px;
    }
    90%{
        top:135px;
    }
    100%{
        top:150px;
    }
}
#cactus{
    width:40px;
    height:40px;
    position:relative;
    top:110px;
    left:560px;
    background-image: url(cactus.png);
    background-size: 40px 40px;
    animation:swipe infinite linear 1s;
}
@keyframes swipe {
    0%{
        left:560px;
    }
    100%{
        left:0px;
    }
}
button{
    background-color: blue;
    color:whitesmoke;
}
